<%= form_with(model: collection_item, local: true) do |form| %>
  <% if collection_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collection_item.errors.count, "error") %> prohibited this collection_item from being saved:</h2>

      <ul>
        <% collection_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :collection_id %>
    <%= form.number_field :collection_id %>
  </div>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.number_field :item_id %>
  </div>

  <div class="field">
    <%= form.label :item_type %>
    <%= form.number_field :item_type %>
  </div>

  <div class="field">
    <%= form.label :sort_order %>
    <%= form.number_field :sort_order %>
  </div>

  <div class="field">
    <%= form.label :enabled %>
    <%= form.check_box :enabled %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
