<p id="notice"><%= notice %></p>

<p>
  <strong>Collection:</strong>
  <%= @collection_item.collection_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @collection_item.item_id %>
</p>

<p>
  <strong>Item type:</strong>
  <%= @collection_item.item_type %>
</p>

<p>
  <strong>Sort order:</strong>
  <%= @collection_item.sort_order %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @collection_item.enabled %>
</p>

<%= link_to 'Edit', edit_collection_item_path(@collection_item) %> |
<%= link_to 'Back', collection_items_path %>
