<p id="notice"><%= notice %></p>

<h1>Option For Items</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Item type</th>
      <th>Code</th>
      <th>Name</th>
      <th>Sort order</th>
      <th>Enabled</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @option_for_items.each do |option_for_item| %>
      <tr>
        <td><%= option_for_item.item_id %></td>
        <td><%= option_for_item.item_type %></td>
        <td><%= option_for_item.code %></td>
        <td><%= option_for_item.name %></td>
        <td><%= option_for_item.sort_order %></td>
        <td><%= option_for_item.enabled %></td>
        <td><%= link_to 'Show', option_for_item %></td>
        <td><%= link_to 'Edit', edit_option_for_item_path(option_for_item) %></td>
        <td><%= link_to 'Destroy', option_for_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Option For Item', new_option_for_item_path %>
