<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @option_for_item.item_id %>
</p>

<p>
  <strong>Item type:</strong>
  <%= @option_for_item.item_type %>
</p>

<p>
  <strong>Code:</strong>
  <%= @option_for_item.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @option_for_item.name %>
</p>

<p>
  <strong>Sort order:</strong>
  <%= @option_for_item.sort_order %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @option_for_item.enabled %>
</p>

<%= link_to 'Edit', edit_option_for_item_path(@option_for_item) %> |
<%= link_to 'Back', option_for_items_path %>
