<%= javascript_pack_tag 'company/calendar' %>
<%= stylesheet_pack_tag 'company/calendar' %>

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark"><%= t('common.calendar') %></h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="<%= homes_path %>"><%= t('common.home') %></a></li>
          <li class="breadcrumb-item active"><%= t('common.calendar') %></li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-body p-0">
            <!-- THE CALENDAR -->
            <div id="calendar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="d-none">
  <div id="calendar_modal" data-izimodal-title="<%= t('.edit_calendar') %>" class="mx-auto">
    <p>
      <div class="col p-3">
        <p id="customer_list"></p>
        <%= form_with(model: CalendarEvent.new, url: company_calendars_path(@company.code), method: :post, local: true) do |f| %>
          <div class="form-group row">
            <div class="col-sm-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text text-red">
                    <%= f.check_box(:allday, {}, checked_value = 'true', unchecked_value = 'false' ) %>
                  </span>
                </div>
                <%= f.label :allday , class: "form-control text-nowrap" do t('.allday') end %>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-primary border-primary">開始</span>
                </div>
                <%= f.select :start_year, (Date.today.year..(Date.today.year + 1)).to_a, { include_blank: false }, class: 'custom-select form-controll' %>
                <div class="input-group-append">
                  <span class="input-group-text bg-primary border-primary">年</span>
                </div>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="input-group">
                <%= f.select :start_month, (1..12).to_a, { include_blank: false }, class: 'custom-select form-controll' %>
                <div class="input-group-append">
                  <span class="input-group-text bg-primary border-primary">月</span>
                </div>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="input-group">
                <%= f.select :start_day, (1..31).to_a, { include_blank: false }, class: 'custom-select form-controll' %>
                <div class="input-group-append">
                  <span class="input-group-text bg-primary border-primary">日</span>
                </div>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="input-group">
                <%= f.select :start_hour, (1..12).to_a, { include_blank: true }, class: 'custom-select form-controll' %>
                <div class="input-group-append">
                  <span class="input-group-text bg-primary border-primary">時</span>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="input-group">
                <%= f.select :start_minute, [0, 10, 20, 30, 40, 50], { include_blank: true }, class: 'custom-select form-controll' %>
                <div class="input-group-append">
                  <span class="input-group-text bg-primary border-primary">分</span>
                </div>
              </div>
            </div>
          </div>


          <div class="form-group row">
            <div class="col-sm-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">終了</span>
                </div>
                <%= f.select :end_year, (Date.today.year..(Date.today.year + 1)).to_a, { include_blank: false }, class: 'custom-select form-controll' %>
                <div class="input-group-append">
                  <span class="input-group-text">年</span>
                </div>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="input-group">
                <%= f.select :end_month, (1..12).to_a, { include_blank: false }, class: 'custom-select form-controll' %>
                <div class="input-group-append">
                  <span class="input-group-text">月</span>
                </div>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="input-group">
                <%= f.select :end_day, (1..31).to_a, { include_blank: false }, class: 'custom-select form-controll' %>
                <div class="input-group-append">
                  <span class="input-group-text">日</span>
                </div>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="input-group">
                <%= f.select :end_hour, (1..12).to_a, { include_blank: true }, class: 'custom-select form-controll' %>
                <div class="input-group-append">
                  <span class="input-group-text">時</span>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="input-group">
                <%= f.select :end_minute, [0, 10, 20, 30, 40, 50], { include_blank: true }, class: 'custom-select form-controll' %>
                <div class="input-group-append">
                  <span class="input-group-text">分</span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </p>
  </div>
</div>


<% content_for :page_style do %>
<style>
td.fc-day-sat {
  background-color: #eaf4ff;
}
td.fc-day-sun {
  background-color: #ffeaea;
}
</style>
<% end %>

