<%= render 'content_header', active_breadcrumb_item: @company.name %>

<section class="content">
  <div class="container-fluid">
    <div class="row">

      <% if @company.try(:is_calendar_feature?) && can?(:read, :calendar) %>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1">
              <a href="<%= can?(:read, :calendar) ? calendar_homes_path : '#' %>"><i class="fas fa-calendar-alt"></i></a>
            </span>

            <div class="info-box-content">
              <span class="info-box-text"><%= t('common.calendar_event_list') %></span>
              <span class="info-box-number"><small></small></span>
            </div>
          </div>
        </div>
      <% end %>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-info elevation-1">
            <a href="<%= customers_path %>"><i class="fas fa-users"></i></a>
          </span>

          <div class="info-box-content">
            <span class="info-box-text"><%= t('.customer_count') %></span>
            <span class="info-box-number"><%= @company.customers.size() %><small>人</small></span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-warning elevation-1">
            <a href="<%= recent_message_index_customers_path %>"><i class="fas fa-cog"></i></a>
          </span>

          <div class="info-box-content">
            <span class="info-box-text"><%= t('.line_notify') %></span>
            <span class="info-box-number">
              <%= @company.get_current_month_line_message_count.to_s(:delimited) %>
              <small>/<%= @company.limit_line_message_count.to_s(:delimited) %></small>
            </span>
          </div>
        </div>
      </div>

      <% if @company.is_chat_feature? %>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-info elevation-1">
              <a href="<%= chat_logs_path %>"><i class="fas fa-comments"></i></a>
            </span>

            <div class="info-box-content">
              <span class="info-box-text"><%= t('common.chat') %></span>
              <span class="info-box-number">
                <small></small>
              </span>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</section>
