<%= render 'content_header', active_breadcrumb_item: @company.name %>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-info elevation-1">
            <a href="<%= customers_path(params[:company_code]) %>"><i class="fas fa-users"></i></a>
          </span>

          <div class="info-box-content">
            <span class="info-box-text"><%= t('.customer_count') %></span>
            <span class="info-box-number"><%= @company.customers.size() %><small>人</small></span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-cog"></i></span>

          <div class="info-box-content">
            <span class="info-box-text"><%= t('.line_notify') %></span>
            <span class="info-box-number"><%= @company.users.where(role: :customer).where('line_user_id IS NOT NULL').size() %></span>
            <span class="info-box-number">
              <%= @company.get_current_month_line_message_count.to_s(:delimited) %>
              <small>/<%= @company.limit_line_message_count.to_s(:delimited) %></small>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
