<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark"><%= t('.header_title') %></h1>
      </div>

      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="<%= homes_path %>"><%= t('.breadcrumb.home') %></a></li>
          <li class="breadcrumb-item"><a href="<%= customers_path %>"><%= t('.breadcrumb.customer_index') %></a></li>
          <li class="breadcrumb-item"><a href="<%= customer_path(@company.code, @customer) %>"><%= t('.breadcrumb.customer_show') %></a></li>
          <li class="breadcrumb-item active"><%= t('.breadcrumb.visited_log') %></li>
        </ol>
      </div>
    </div>
  </div>
</div>

<%= render 'form', visited_log: @visited_log, url: { company_code: @company.code, customer_id: @customer.id, action: :create } %>
