<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark"><%= t('common.line_richmenu_image') %></h1>
      </div>

      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a href="<%= homes_path %>"><%= t('common.home') %></a></li>
          <li class="breadcrumb-item">
            <a href="<%= company_setting_path %>">
              <%= t('common.company_setting') %>
            </a>
          </li>
          <li class="breadcrumb-item active">
            <a href="<%= company_line_richmenu_images_path %>">
              <%= t('common.line_richmenu_image') %></a>
          </li>
          <li class="breadcrumb-item active"><%= t('common.edit') %></li>
        </ol>
      </div>
    </div>
  </div>
</div>

<%= render 'form', line_richmenu_image: @line_richmenu_image, url: { company_code: @company.code, action: :update } %>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <img src="<%= @line_richmenu_image.encode_base64_image_file %>" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
