<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">店舗情報を入力してください。 <small></small></h3>
          </div>

          <%= form_with(model: company, url: url, local: true) do |f| %>
            <div class="card-body">
              <div class="form-group">
                <%= f.label :code %>
                <%= f.text_field :code, { class: "form-control" , placeholder: '店舗コード', maxlength: 100, readonly: true } %>
                <small>*店舗コードは変更できません。</small>

              </div>

              <div class="form-group">
                <% name_err = true if company.errors.include?(:name) %>
                <%= f.label :name %>
                <%= f.text_field :name, { class: "form-control #{ name_err ? 'is-invalid' : '' }", placeholder: '店舗名', maxlength: 100 } %>
                <% if name_err %>
                  <span class="error invalid-feedback"><%= company.errors.full_messages_for(:name).first %></span>
                <% end %>
              </div>

              <div class="form-group">
                <% logo_err = true if company.errors.include?(:logo) %>
                <%= f.label :logo %>

                <div class="input-group">
                  <div class="custom-file <%= logo_err ? 'is-invalid' : '' %>">
                    <%= f.file_field :logo, { class: "custom-file-input #{ logo_err ? 'is-invalid' : '' }", accept: 'image/jpeg,image/gif,image/png' } %>
                    <%= f.label :logo, { id: 'company_logo-label', class: 'custom-file-label', 'data-browse': '参照' }  do %>
                      ロゴファイルを選択(ここにドロップすることもできます)
                    <% end %>
                  </div>

                  <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary company_logo-reset">取消</button>
                  </div>

                  <% if logo_err %>
                    <span class="error invalid-feedback"><%= company.errors.full_messages_for(:logo).first %></span>
                  <% end %>
                </div>
              </div>

              <div class="form-group">
                <% line_qr_code_err = true if company.errors.include?(:line_qr_code) %>
                <%= f.label :line_qr_code %>

                <div class="input-group">
                  <div class="custom-file <%= line_qr_code_err ? 'is-invalid' : '' %>">
                    <%= f.file_field :line_qr_code, { class: "custom-file-input #{ line_qr_code_err ? 'is-invalid' : '' }", accept: 'image/jpeg,image/gif,image/png' } %>
                    <%= f.label :line_qr_code, { id: 'company_line_qr_code-label', class: 'custom-file-label', 'data-browse': '参照' }  do %>
                      LINE QRコードファイルを選択(ここにドロップすることもできます)
                    <% end %>
                  </div>

                  <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary company_line_qr_code-reset">取消</button>
                  </div>

                  <% if line_qr_code_err %>
                    <span class="error invalid-feedback"><%= company.errors.full_messages_for(:line_qr_code).first %></span>
                  <% end %>
                </div>
              </div>

              <%= javascript_tag do %>
                $(function() {
                  $('.custom-file-input').on('change',function(){
                    $(this).next('.custom-file-label').html($(this)[0].files[0].name);
                  })
                  // ファイルの取消(ロゴ)
                  $('.company_logo-reset').click(function(){
                    $('#company_logo-label').html('ロゴファイルを選択(ここにドロップすることもできます)');
                    $('#company_logo').val('');
                  })
                  // ファイルの取消(QRコード)
                  $('.company_line_qr_code-reset').click(function(){
                    $('#company_line_qr_code-label').html('LINE QRコードファイルを選択(ここにドロップすることもできます)');
                    $('#company_line_qr_code').val('');
                  })
                });
              <% end %>

              <div class="form-group">
                <% visit_confirmation_code_err = true if company.errors.include?(:visit_confirmation_code) %>
                <%= f.label :visit_confirmation_code %>
                <%= f.text_field :visit_confirmation_code, { class: "form-control #{ visit_confirmation_code_err ? 'is-invalid' : '' }", placeholder: 'チャネルシークレット', minlength: 4, maxlength: 4, required: true } %>
                <small>*設定から24時間おきに変更されます。</small>
                <% if visit_confirmation_code_err %>
                  <span class="error invalid-feedback"><%= company.errors.full_messages_for(:visit_confirmation_code).first %></span>
                <% end %>
              </div>

            </div>

            <div class="card-footer">
              <%= f.submit class: 'btn btn-primary', data: { confirm: 'よろしいですか?' } %>
              <a href="<%= company_setting_path %>" class="btn btn-default float-right">　戻る　</a>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-6">
      </div>
    </div>
  </div>
</section>
