<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark"><%= Const::View::Name::COMPANY_SETTING_SHOW %></h1>
      </div>

      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="<%= homes_path %>">ホーム</a></li>
          <li class="breadcrumb-item active"><%= Const::View::Name::COMPANY_SETTING_SHOW %></li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">情報</h3>
    </div>

    <div class="card-body">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th class="text-nowrap"><%= Company.human_attribute_name(:code) %></th>
            <td><%= @company.code.to_s %></td>
          </tr>
          <tr>
            <th class="text-nowrap"><%= Company.human_attribute_name(:name) %></th>
            <td><%= @company.name.to_s %></td>
          </tr>
          <tr>
            <th class="text-nowrap"><%= Company.human_attribute_name(:logo) %></th>
            <td><%= image_tag @company.logo.try(:thumb_220).try(:url) if @company.logo.present? %></td>
          </tr>
          <tr>
            <th class="text-nowrap"><%= Company.human_attribute_name(:line_qr_code) %></th>
            <td><%= image_tag @company.line_qr_code.try(:thumb_220).try(:url) if @company.line_qr_code.present? %></td>
          </tr>
          <tr>
            <th class="text-nowrap"><%= Company.human_attribute_name(:visit_confirmation_code) %></th>
            <td><%= @company.visit_confirmation_code.to_s %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="card-footer clearfix">
      <% if can? :manage, :setting %>
        <a href="<%= edit_company_setting_path(@company.code) %>" class="btn btn-info float-left mr-2">　編集　</a>
      <% end %>
      <a href="<%= homes_path %>" class="btn btn-default float-right">　戻る　</a>
    </div>
  </div>
</section>
