<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark"><%= t('.bulk_line_messages') %></h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="<%= homes_path %>"><%= t('.home') %></a></li>
          <li class="breadcrumb-item"><a href="<%= customers_path %>"><%= t('.customer_index') %></a></li>
          <li class="breadcrumb-item active"><%= t('.bulk_line_messages') %></li>
        </ol>
      </div>
    </div>
  </div>
</div>

<%= form_with url: company_bulk_line_messages_path, method: :post, local:true do |f| %>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title"><%= t('.message_content') %></h3>
          </div>

          <div class="card-body">
            <div class="form-group">
              <%= f.text_area :message, { class: 'form-control', placeholder: t('.input_message_prompt'), maxlength: 240, rows: 10, required: true } %>
            </div>
            <small><%= t('.annotation') %></small>
          </div>

          <div class="card-footer">
            <%= f.submit class: 'btn btn-primary', value: t('.submit_button'), data: { confirm: t('.submit_confirm'), disable_with: t('.submit_disable_with') } %>
            <a href="<%= customers_path %>" class="btn btn-default float-right"><%= t('.return_link') %></a>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title"><%= t('.target_customers') %></h3>
            <div class="card-tools">
              <span class="badge badge-success"><span id="customer_count"><%= @customers.size() %></span> 名</span>
            </div>
          </div>

          <div class="card-body p-0">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th style="width: 10px"><input type="checkbox" id="all_check_button" /></th>
                  <%= javascript_tag do %>
                    $(function() {
                      $('#all_check_button').on('click', function(){
                        $(':checkbox').prop('checked', $(this).is(':checked'));
                        $('#customer_count').text($('.select_customer:checked').length);
                      });

                      $('.select_customer').on('input', function(){
                        $('#customer_count').text($('.select_customer:checked').length);
                      });
                    });
                  <% end %>

                  <% if @company.is_input_customer_name? %>
                    <th><%= Customer.human_attribute_name(:name) %></th>
                  <% end %>

                  <% if @company.is_input_customer_gender? %>
                    <th><%= Customer.human_attribute_name(:gender) %></th>
                  <% end %>

                  <% if @company.is_input_customer_birthday? %>
                    <th><%= Customer.human_attribute_name(:age) %></th>
                  <% end %>

                  <th><%= Customer.human_attribute_name(:last_vist_date) %></th>
                </tr>
              </thead>
              <tbody>
                <% @customers.each do |customer| %>
                <tr>
                  <td>
                    <input type="checkbox" id="scales" name="user_ids[]" value="<%= customer.user.id %>" class="select_customer" />
                  </td>

                  <% if @company.is_input_customer_name? %>
                    <td><%= customer.name %></td>
                  <% end %>

                  <% if @company.is_input_customer_gender? %>
                    <td>
                      <% if customer.women? %>
                        <i class="fas fa-venus text-red"></i>
                      <% elsif customer.men? %>
                        <i class="fas fa-mars text-black"></i>
                      <% end %>
                    </td>
                  <% end %>

                  <% if @company.is_input_customer_birthday? %>
                    <td><%= customer.age %></td>
                  <% end %>

                  <td><%= customer.last_vist_date %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title"><%= t('.history') %></h3>
            <div class="card-tools">
              <span class="badge badge-success"><span id="customer_count"><%= @line_message_bulk_logs.size() %></span> 件</span>
            </div>
          </div>

          <div class="card-body p-0">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th><%= t('.send_date') %></th>
                  <th><%= t('.send_status') %></th>
                  <th><%= t('.message_content') %></th>
                </tr>
              </thead>
              <tbody>
                <% @line_message_bulk_logs.each do |log| %>
                  <tr>
                    <td>
                      <a href="<%= company_bulk_line_message_path(log, company_code: @company.code) %>">
                        <%= log.created_at.strftime("%Y/%m/%d %H:%M") %>
                      </a>
                    </td>
                    <td><%= log.success_or_failure? ? t('.success') : t('.failuere') %></td>
                    <td><%= br log.message %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

          <div class="card-footer">
            <small class="float-right"><%= t('.max_num', max_num: Const::LineMessage::DISPLAY_LIMIT) %></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>
