<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">TO: <%= customer.name %><small></small></h3>
          </div>

          <%= form_with(model: line_message, url: send_line_message_customer_path(customer, company_code: @company.code),local: true) do |form| %>
            <%= form.hidden_field :user_id %>
            <div class="card-body">
              <div class="form-group">
                <%= form.label :message %>
                <%= form.text_field :message, { class: 'form-control', placeholder: 'メッセージを入力してください。' } %>
              </div>
            </div>

            <div class="card-footer">
              <%= link_to 'Back', customer_path(@customer, company_code: @company.code), { class: 'btn btn-success' } %>
              <button type="submit" class="btn btn-success">送信</button>
            </div>
          <% end %>

        </div>
      </div>

      <div class="col-md-6">
      </div>
    </div>
  </div>
</section>
