<%= render 'content_header', active_breadcrumb_item: Const::View::Name::CUSTOMER_INDEX %>

<section class="content">
  <div class="card <%= 'collapsed-card' unless @search.inputed? %>">
    <div class="card-header">
      <h3 class="card-title">詳細検索</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-<%= @search.inputed? ? 'minus' : 'plus' %>"></i>
        </button>
      </div>
    </div>

    <div class="card-body" <%= 'style="display: none;"' unless @search.inputed? %>>

      <%= form_with model: @search, url: customers_path, method: :get, id: :search_form, local:true do |f| %>
        <div class="form-row">
          <div class="col-md-3 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-smile"></i></span>
              </div>
              <%= f.text_field :name, { autocomplete: "off", class: 'form-control', placeholder: '名前', maxlength: 20, id: 'searchNameText' } %>
              <div class="input-group-append">
                <span class="input-group-text clear" data-target_id="searchNameText">C</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-venus-mars"></i></span>
              </div>
              <%= f.select :gender, Customer::gender_select_arr, { include_blank: '' }, class: 'custom-select', id: 'genderListSelect' %>
              <div class="input-group-append">
                <span class="input-group-text clear" data-target_id="genderListSelect">C</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-sort-numeric-up-alt"></i></span>
              </div>
              <%= f.text_field :from_age, { autocomplete: "off", class: 'form-control', placeholder: '年齢（以上）', maxlength: 3, id: 'searchAgeFromText', onKeyup: "this.value=this.value.replace(/[^0-9]+/i,'')" } %>
              <div class="input-group-append">
                <span class="input-group-text clear" data-target_id="searchAgeFromText">C</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-sort-numeric-down-alt"></i></span>
              </div>
              <%= f.text_field :to_age, { autocomplete: "off", class: 'form-control', placeholder: '年齢（以下）', maxlength: 3, id: 'searchAgeToText', onKeyup: "this.value=this.value.replace(/[^0-9]+/i,'')" } %>
              <div class="input-group-append">
                <span class="input-group-text clear" data-target_id="searchAgeToText">C</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <%= f.check_box(:line_registed, {}, checked_value = 'true', unchecked_value = '' ) %>
                </span>
              </div>
              <%= f.label :line_registed , class: 'form-control' do 'LINE登録済' end %>
            </div>
          </div>

          <div class="col-md-3 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <%= f.check_box(:unread_line, {}, checked_value = 'true', unchecked_value = '' ) %>
                </span>
              </div>
              <%= f.label :unread_line , class: 'form-control' do 'LINE未読' end %>
            </div>
          </div>

          <div class="col-md-3 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-sign-out-alt"></i></span>
              </div>
              <%= f.select :visited_over, CustomerSearch::VISITED_OVER_LIST, { include_blank: '最終来店' }, class: 'custom-select', id: 'visitedOverSelect' %>
              <div class="input-group-append">
                <span class="input-group-text clear" data-target_id="visitedOverSelect">C</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-2">
            <div class="input-group">
              <%= f.submit "検　索", { class: 'btn btn-primary rounded-pill' } %>
              <a href="javascript: void(0)" id="clear_button" class="ml-2 btn btn-outline-dark rounded-pill">クリア</a>
              <%= javascript_tag do %>
                $(function() {
                  $('#clear_button').on('click', function(){
                    $('input[type="text"], select').val('');
                    $(':checkbox').prop('checked', false);
                  });
                });
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>

  <div class="row">
    <div class="col-md-3">

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">年代</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
          </div>
        </div>

        <div class="card-body p-0" style="display: block;">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a href="javascript: void(0)" class="nav-link simple_age" data-age_from="" data-age_to="19">
                〜19才
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript: void(0)" class="nav-link simple_age" data-age_from="20" data-age_to="29">
                20〜29才
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript: void(0)" class="nav-link simple_age" data-age_from="30" data-age_to="39">
                30〜39才
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript: void(0)" class="nav-link simple_age" data-age_from="40" data-age_to="49">
                40〜49才
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript: void(0)" class="nav-link simple_age" data-age_from="50" data-age_to="59">
                50〜59才
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript: void(0)" class="nav-link simple_age" data-age_from="60" data-age_to="69">
                60〜69才
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript: void(0)" class="nav-link simple_age" data-age_from="70" data-age_to="">
                70才〜
              </a>
            </li>
          </ul>
        </div>
      </div>

      <%= javascript_tag do %>
        $(function() {
          $('.simple_age').on('click', function(){
            $('#searchAgeFromText').val($(this).data('age_from'));
            $('#searchAgeToText').val($(this).data('age_to'));
            $('#search_form').submit();
          });
        });
      <% end %>
    </div>

    <div class="col-md-9">
      <div class="card card-primary card-outline">
        <div class="card-header">
          <% page = params[:page].present? ? params[:page].to_i : 1 %>
          <h3 class="card-title"><%= CustomerSearch::DEFAULT_PER * params[:page].to_i + 1 %>-<%= CustomerSearch::DEFAULT_PER * (params[:page].present? ? params[:page].to_i : 1) %>/<%= @customers.total_count %></h3>
          <ul class="pagination pagination-sm m-0 float-right">
            <li class="page-item"><a href="<%= new_customer_path(company_code: @company.code ) %>" class="page-link bg-primary">新規作成</a></li>
            <li class="page-item"><a href="#" class="page-link bg-success">一斉送信</a></li>
          </ul>
        </div>

        <div class="card-body p-0">
          <div class="mailbox-controls">
            <%= paginate @customers %>
          </div>
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <tbody>
              <thead>
                <tr>
                  <th>未読</th>
                  <th>名前</th>
                  <th>性別</th>
                  <th>年齢</th>
                  <th>LINE?</th>
                  <th>最終来店</th>
                </tr>
              </thead>

              <% @customers.each_with_index do |customer, i| %>
                <tr>
                  <% user = customer.user %>
                  <% if user.try(:unread_user_line_message?) %>
                    <td>
                      <a href="<%= new_line_message_customer_path(@company.code, customer) %>">
                        <i class="fas fa-star-o text-success"></i>
                      </a>
                    </td>
                  <% else %>
                    <td></td>
                  <% end %>
                  <td class="text-nowrap">
                    <%= link_to customer.name.to_s, customer_path(@company.code, customer), { class: 'text-info' } %>
                  </td>
                  <td class="align-middle">
                    <% if customer.women? %>
                      <i class="fas fa-venus text-red"></i>
                    <% elsif customer.men? %>
                      <i class="fas fa-mars text-black"></i>
                    <% end %>
                  </td>
                  <td class="align-middle"><%= customer.age %></td>
                  <td class="align-middle">
                    <% user = customer.user %>
                    <% if customer.line? %>
                      <%= link_to 'LINE', new_line_message_customer_path(@company.code, customer), { class: 'btn btn-sm btn-outline-success float-left' } %>
                    <% end %>
                  </td>
                  <td class="align-middle"><%= customer.last_vist_date %></td>
                </tr>
              <% end %>

              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer p-0">
          <div class="mailbox-controls">
            <%= paginate @customers %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
