<%= render 'content_header', active_breadcrumb_item: Const::View::Name::CUSTOMER_INDEX %>

<section class="content">
  <div class="card <%= 'collapsed-card' unless @search.inputed? %>">
    <div class="card-header" data-card-widget="collapse">
      <h3 class="card-title">詳細検索</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-<%= @search.inputed? ? 'minus' : 'plus' %>"></i>
        </button>
      </div>
    </div>

    <div class="card-body" <%= 'style="display: none;"' unless @search.inputed? %>>

      <%= form_with model: @search, url: customers_path, method: :get, id: :search_form, local:true do |f| %>
        <div class="form-row">
          <div class="col-md-3 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-smile"></i></span>
              </div>
              <%= f.text_field :name, { autocomplete: "off", class: "form-control #{ 'is-valid' if @search.name.present? }", placeholder: '名前', maxlength: 20, id: 'searchNameText' } %>
              <div class="input-group-append">
                <span class="input-group-text clear" data-target_id="searchNameText">C</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-venus-mars"></i></span>
              </div>
              <%= f.select :gender, Customer::gender_select_arr, { include_blank: '' }, class: "custom-select #{ 'is-valid' if @search.gender.present? }", id: 'genderListSelect' %>
              <div class="input-group-append">
                <span class="input-group-text clear" data-target_id="genderListSelect">C</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-sort-numeric-up-alt"></i></span>
              </div>
              <%= f.text_field :from_age, { autocomplete: "off", class: "form-control #{ 'is-valid' if @search.from_age.present? }", placeholder: '年齢（以上）', maxlength: 3, id: 'searchAgeFromText', onKeyup: "this.value=this.value.replace(/[^0-9]+/i,'')" } %>
              <div class="input-group-append">
                <span class="input-group-text clear" data-target_id="searchAgeFromText">C</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-sort-numeric-down-alt"></i></span>
              </div>
              <%= f.text_field :to_age, { autocomplete: "off", class: "form-control #{ 'is-valid' if @search.to_age.present? }", placeholder: '年齢（以下）', maxlength: 3, id: 'searchAgeToText', onKeyup: "this.value=this.value.replace(/[^0-9]+/i,'')" } %>
              <div class="input-group-append">
                <span class="input-group-text clear" data-target_id="searchAgeToText">C</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <%= f.check_box(:line_registed, {}, checked_value = 'true', unchecked_value = '' ) %>
                </span>
              </div>
              <%= f.label :line_registed , class: "form-control #{ 'is-valid' if @search.line_registed.present? }" do 'LINE登録済' end %>
            </div>
          </div>

          <div class="col-md-3 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <%= f.check_box(:unread_line, {}, checked_value = 'true', unchecked_value = '' ) %>
                </span>
              </div>
              <%= f.label :unread_line , class: "form-control #{ 'is-valid' if @search.unread_line.present? }" do 'LINE未読' end %>
            </div>
          </div>

          <div class="col-md-3 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-sign-out-alt"></i></span>
              </div>
              <%= f.select :visited_over, CustomerSearch::VISITED_OVER_LIST, { include_blank: '最終来店' }, class: "custom-select #{ 'is-valid' if @search.visited_over.present? }", id: 'visitedOverSelect' %>
              <div class="input-group-append">
                <span class="input-group-text clear" data-target_id="visitedOverSelect">C</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-2">
            <div class="input-group">
              <%= f.submit '検　索', class: 'btn btn-success rounded-pill', data: { disable_with: '検索中...' } %>
              <a href="javascript: void(0)" id="clear_button" class="ml-2 btn btn-outline-primary rounded-pill">クリア</a>
              <%= javascript_tag do %>
                $(function() {
                  $('#clear_button').on('click', function(){
                    $('input[type="text"], select').val('');
                    $(':checkbox').prop('checked', false);
                  });
                });
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>

  <div class="row">
    <div class="col-md-3">

      <div class="card">
        <div class="card-header" data-card-widget="collapse">
          <h3 class="card-title">年代</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
          </div>
        </div>

        <div class="card-body p-0" style="display: block;">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a href="javascript: void(0)" class="nav-link simple_age" data-age_from="" data-age_to="19">
                〜19才
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript: void(0)" class="nav-link simple_age" data-age_from="20" data-age_to="29">
                20〜29才
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript: void(0)" class="nav-link simple_age" data-age_from="30" data-age_to="39">
                30〜39才
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript: void(0)" class="nav-link simple_age" data-age_from="40" data-age_to="49">
                40〜49才
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript: void(0)" class="nav-link simple_age" data-age_from="50" data-age_to="59">
                50〜59才
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript: void(0)" class="nav-link simple_age" data-age_from="60" data-age_to="69">
                60〜69才
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript: void(0)" class="nav-link simple_age" data-age_from="70" data-age_to="">
                70才〜
              </a>
            </li>
          </ul>
        </div>
      </div>

      <%= javascript_tag do %>
        $(function() {
          $('.simple_age').on('click', function(){
            $('#searchAgeFromText').val($(this).data('age_from'));
            $('#searchAgeToText').val($(this).data('age_to'));
            $('#search_form').submit();
          });
        });
      <% end %>
    </div>

    <div class="col-md-9">
      <div class="card card-primary card-outline">
        <div class="card-header">
          <% page = params[:page].present? ? params[:page].to_i : 1 %>
          <h3 class="card-title">
            <% if @customers.total_count != 0 %>
            <%= CustomerSearch::DEFAULT_PER * (page - 1) + 1 %>-<%= (CustomerSearch::DEFAULT_PER * (params[:page].present? ? params[:page].to_i : 1)).to_s + '/' if @customers.total_count > CustomerSearch::DEFAULT_PER %><%= @customers.total_count %>
            <% else %>
              条件に該当する顧客は存在しません。
            <% end %>
          </h3>
          <%= paginate @customers %>
        </div>

        <div class="card-body p-0">
          <div class="mailbox-controls">
            <a href="javascript: void(0)" class="btn btn-sm float-right" id="redirect_bulk_line_messages_button"><i class="fab fa-line fa-2x text-success"></i></a>
            <%= javascript_tag do %>
              $(function() {
                $('#redirect_bulk_line_messages_button').on('click', function(){
                  $('#bulk_line_messages_form').submit();
                });
              });
            <% end %>

            <a href="<%= new_customer_path(company_code: @company.code ) %>" class="btn btn-sm float-right"><i class="far fa-plus-square fa-2x text-primary"></i></a>
          </div>

          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <tbody>
              <thead>
                <tr>
                  <th>#</th>
                  <th><%= Customer.human_attribute_name(:name) %></th>
                  <th><%= Customer.human_attribute_name(:gender) %></th>
                  <th><%= Customer.human_attribute_name(:age) %></th>
                  <th><%= Customer.human_attribute_name(:last_vist_date) %></th>
                  <th><%= Customer.human_attribute_name(:introducer) %></th>
                </tr>
              </thead>

              <% @customers.each_with_index do |customer, i| %>
                <tr>
                  <td style="width: 10px; padding-left: 1.0rem;">
                    <% user = customer.user %>
                    <% if customer.line? %>
                      <% if user.try(:unread_user_line_message?) %>
                        <a href="<%= new_line_message_customer_path(@company.code, customer) %>">
                          <i class="fab fa-line fa-2x text-warning"></i>
                        </a>
                      <% else %>
                        <a href="<%= new_line_message_customer_path(@company.code, customer) %>"><i class="fab fa-line fa-2x text-success"></i></a>
                      <% end %>
                    <% end %>
                  </td>
                  <td class="text-nowrap">
                    <%= link_to customer.name.to_s, customer_path(@company.code, customer), { class: 'text-info' } %>
                  </td>
                  <td class="align-middle">
                    <% if customer.women? %>
                      <i class="fas fa-venus text-red"></i>
                    <% elsif customer.men? %>
                      <i class="fas fa-mars text-black"></i>
                    <% end %>
                  </td>
                  <td class="align-middle"><%= customer.age %></td>
                  <td class="align-middle"><%= customer.last_vist_date %></td>
                  <td class="align-middle"><%= link_to customer.introducer.name.to_s, customer_path(@company.code, customer.introducer), { class: 'text-info' } if customer.introducer %></td>
                </tr>
              <% end %>

              </tbody>
            </table>
          </div>
        </div>
        <div class="mailbox-controls m-3">
          <% page = params[:page].present? ? params[:page].to_i : 1 %>
          <h3 class="card-title">
            <% if @customers.total_count != 0 %>
            <%= CustomerSearch::DEFAULT_PER * (page - 1) + 1 %>-<%= (CustomerSearch::DEFAULT_PER * (params[:page].present? ? params[:page].to_i : 1)).to_s + '/' if @customers.total_count > CustomerSearch::DEFAULT_PER %><%= @customers.total_count %>
            <% end %>
          </h3>
          <%= paginate @customers %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= form_with model: @search, url: company_bulk_line_messages_path, method: :get, id: :bulk_line_messages_form, local:true do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :gender %>
  <%= f.hidden_field :from_age %>
  <%= f.hidden_field :to_age %>
  <%= f.hidden_field :line_registed %>
  <%= f.hidden_field :unread_line %>
  <%= f.hidden_field :visited_over %>
<% end %>
