<%= render 'content_header', active_breadcrumb_item: Const::View::Name::CUSTOMER_INDEX %>

<section class="content">
  <div class="card <%= 'collapsed-card' unless @search.inputed? %>">
    <div class="card-header">
      <h3 class="card-title">検索</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-<%= @search.inputed? ? 'minus' : 'plus' %>"></i>
        </button>
      </div>
    </div>

    <div class="card-body" <%= 'style="display: none;"' unless @search.inputed? %>>

      <%= form_with model: @search, url: customers_path, method: :get, local:true do |f| %>
        <div class="form-row">
          <div class="col-md-3 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-smile"></i></span>
              </div>
              <%= f.text_field :name, { autocomplete: "off", class: 'form-control', placeholder: '名前', maxlength: 20, id: 'searchNameText' } %>
              <div class="input-group-append">
                <span class="input-group-text clear" data-target_id="searchNameText">C</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-venus-mars"></i></span>
              </div>
              <%= f.select :gender, Customer::gender_select_arr, { include_blank: '' }, class: 'custom-select', id: 'genderListSelect' %>
              <div class="input-group-append">
                <span class="input-group-text clear" data-target_id="genderListSelect">C</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-sort-numeric-up-alt"></i></span>
              </div>
              <%= f.text_field :from_age, { autocomplete: "off", class: 'form-control', placeholder: '年齢（以上）', maxlength: 3, id: 'searchAgeFromText', onKeyup: "this.value=this.value.replace(/[^0-9]+/i,'')" } %>
              <div class="input-group-append">
                <span class="input-group-text clear" data-target_id="searchAgeFromText">C</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-sort-numeric-down-alt"></i></span>
              </div>
              <%= f.text_field :to_age, { autocomplete: "off", class: 'form-control', placeholder: '年齢（以下）', maxlength: 3, id: 'searchAgeToText', onKeyup: "this.value=this.value.replace(/[^0-9]+/i,'')" } %>
              <div class="input-group-append">
                <span class="input-group-text clear" data-target_id="searchAgeToText">C</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <%= f.check_box(:line_registed, {}, checked_value = 'true', unchecked_value = '' ) %>
                </span>
              </div>
              <%= f.label :line_registed , class: 'form-control' do 'LINE登録済み' end %>
            </div>
          </div>

          <div class="col-md-3 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <%= f.check_box(:unread_line, {}, checked_value = 'true', unchecked_value = '' ) %>
                </span>
              </div>
              <%= f.label :unread_line , class: 'form-control' do 'LINE未読' end %>
            </div>
          </div>

          <div class="col-md-2 mb-2">
            <div class="input-group">
              <%= f.submit "検　索", { class: 'btn btn-info rounded-pill' } %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <%= paginate @customers %>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="width: 10px" class="text-nowrap"><%= @customers.total_count %> <small>名</small></th>
            <th class="align-items-center"><%= Customer.human_attribute_name(:name) %></th>
            <th><%= Customer.human_attribute_name(:name_kana) %></th>
            <th><%= Customer.human_attribute_name(:gender) %></th>
            <th><%= Customer.human_attribute_name(:age) %></th>
            <th><%= Customer.human_attribute_name(:tel_number) %></th>
            <th><%= Customer.human_attribute_name(:birthday) %></th>
            <th><%= Customer.human_attribute_name(:line_receiving) %></th>
            <th><%= Customer.human_attribute_name(:last_vist_date) %></th>
          </tr>
        </thead>
        <tbody>

          <% @customers.each_with_index do |customer, i| %>
            <tr>
              <td class="text-nowrap align-middle align-items-center">
                <%= customer.id %>
              </td>
              <td class="align-middle">
                <%= link_to customer.name.to_s, customer_path(@company.code, customer), { class: 'text-info' } %>
              </td>
              <td class="align-middle"><%= customer.name_kana.to_s %></td>
              <td class="align-middle"><%= Customer.human_attribute_name("gender.#{ customer.gender }") if customer.gender %></td>
              <td class="align-middle"><%= customer.age %></td>
              <td class="align-middle"><%= customer.formatted_tel_number.to_s %></td>
              <td class="align-middle"><%= customer.birthday.strftime("%Y年%m月%d日") if customer.birthday %></td>
              <td class="align-middle">
                <% user = customer.user %>
                <% if user.try(:unread_user_line_message?) %>
                  <%= link_to '未読', new_line_message_customer_path(@company.code, customer), class: 'btn btn-sm btn-success float-left' %>
                <% elsif customer.line? %>
                  <%= link_to 'LINE', new_line_message_customer_path(@company.code, customer), { class: 'btn btn-sm btn-outline-success float-left' } %>
                <% end %>
              </td>
              <td class="align-middle"><%= customer.last_vist_date %></td>
            </tr>
          <% end %>

        </tbody>
      </table>

      <%= paginate @customers %>
    </div>
    <div class="card-footer">
      <a href="<%= new_customer_path(company_code: @company.code ) %>" class="btn btn-sm btn-primary float-left mt-1">新規作成</a>
    </div>
  </div>
</section>
