<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark"><%= Const::View::Name::LINE_NOTIFY %></h1>
      </div>

      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="<%= homes_path(company_code: params[:company_code]) %>">ホーム</a></li>
          <li class="breadcrumb-item"><a href="<%= customers_path(company_code: @company.code) %>"><%= Const::View::Name::CUSTOMER_INDEX %></a></li>
          <li class="breadcrumb-item"><a href="<%= customer_path(@customer, company_code: @company.code) %>"><%= Const::View::Name::CUSTOMER_SHOW %></a></li>
          <li class="breadcrumb-item active"><%= Const::View::Name::LINE_NOTIFY %></li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <div class="card card-success">
      <div class="card-header">
        <h3 class="card-title">TO: <%= @customer.name %></h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card card-success direct-chat direct-chat-success">
              <div class="card-body">
                <div class="direct-chat-messages">
                  <% @line_message_logs.each do |message_log| %>
                    <% if message_log.staff_id.present? %>
                      <%= render '/customers/line_message/staff', message: message_log %>
                    <% else %>
                      <%= render '/customers/line_message/user', customer: @customer, message: message_log %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <%= render '/customers/line_message/form', customer: @customer, line_message: @line_message %>
        </div>
      </div>

      <div class="card-footer">
        <%= link_to '戻る', customer_path(@customer, company_code: @company.code), { class: 'btn  btn-default float-right' } %>
      </div>
    </div>
  </div>
</section>
