<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark"><%= Const::View::Name::LINE_NOTIFY %></h1>
      </div>

      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="<%= homes_path %>">ホーム</a></li>
          <li class="breadcrumb-item"><a href="<%= customers_path %>"><%= Const::View::Name::CUSTOMER_INDEX %></a></li>
          <li class="breadcrumb-item"><a href="<%= customer_path(@company.code, @customer) %>"><%= Const::View::Name::CUSTOMER_SHOW %></a></li>
          <li class="breadcrumb-item active"><%= Const::View::Name::LINE_NOTIFY %></li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">TO: <%= @customer.name %> 様</h3>
      </div>

      <div class="card-body pt-1 pl-1 pr-1 pb-0">
        <div class="row">
          <div class="col-md-6">
            <div class="card card-primary direct-chat direct-chat-default">
              <div class="card-body">
                <div class="direct-chat-messages" style="height: 320px;">
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th class="text-nowrap"><%= Customer.human_attribute_name(:name) %></th>
                        <td><%= @customer.name.to_s %>（<%= @customer.name_kana.to_s %>）</td>
                      </tr><tr>
                        <th class="text-nowrap"><%= Customer.human_attribute_name(:gender) %></th>
                        <td><%= Customer.human_attribute_name("gender.#{ @customer.gender }") %></td>
                      </tr><tr>
                        <th class="text-nowrap"><%= Customer.human_attribute_name(:tel_number) %></th>
                        <td><%= @customer.formatted_tel_number.to_s %></td>
                      </tr><tr>
                        <th class="text-nowrap"><%= Customer.human_attribute_name(:birthday) %></th>
                        <td><%= @customer.birthday.strftime("%Y年%m月%d日") if @customer.birthday %></td>
                      </tr><tr>
                        <th class="text-nowrap">住所</th>
                        <td><%= @customer.all_address  %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer">
                <small class="float-right"><%= link_to '顧客詳細画面へ', customer_path(@customer, company_code: @company.code), { class: '' } %></small>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card card-primary direct-chat direct-chat-default">
              <div class="card-body">
                <div id="message-log" class="direct-chat-messages" style="height: 320px;">
                  <% @line_message_logs.each do |message_log| %>
                    <% if message_log.staff_id.present? %>
                      <%= render '/customers/line_message/staff', message: message_log %>
                    <% else %>
                      <%= render '/customers/line_message/user', customer: @customer, message: message_log %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="card-footer">
                <small class="float-right"><%= "最大#{ Const::LineMessage::DISPLAY_LIMIT }件表示" %></small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <%= form_with(model: @line_message, url: send_line_message_customer_path(@customer, company_code: @company.code),local: true) do |form| %>
          <%= form.hidden_field :user_id %>

          <div class="form-group">
            <%= form.text_area :message, { class: 'form-control', placeholder: 'メッセージを入力してください。', maxlength: 240, rows: 4 } %>
          </div>

          <%= form.submit class: 'btn btn-primary', value: '　送　信　', data: {disable_with: '　送信中...　'} %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= javascript_tag do %>
  $(function() {
    $("#message-log").scrollTop($("#message-log")[0].scrollHeight);
  });
<% end %>
