<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark"><%= Const::View::Name::CUSTOMER_SHOW %></h1>
        </div>

        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="<%= homes_path(company_code: params[:company_code]) %>">ホーム</a></li>
            <li class="breadcrumb-item"><a href="<%= customers_path(company_code: @company.code) %>"><%= Const::View::Name::CUSTOMER_INDEX %></a></li>
            <li class="breadcrumb-item active"><%= Const::View::Name::CUSTOMER_SHOW %></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">情報</h3>
      </div>

      <div class="card-body">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th class="text-nowrap" style="width: 10px"><%= Customer.human_attribute_name(:id) %></th>
              <td><%= @customer.id %></td>
            </tr><tr>
              <th class="text-nowrap"><%= Customer.human_attribute_name(:name) %></th>
              <td><%= @customer.name.to_s %></td>
            </tr><tr>
              <th class="text-nowrap"><%= Customer.human_attribute_name(:name_kana) %></th>
              <td><%= @customer.name_kana.to_s %></td>
            </tr><tr>
              <th class="text-nowrap"><%= Customer.human_attribute_name(:gender) %></th>
              <td><%= Customer.human_attribute_name("gender.#{ @customer.gender }") %></td>
            </tr><tr>
              <th class="text-nowrap"><%= Customer.human_attribute_name(:tel_number) %></th>
              <td><%= @customer.tel_number.to_s %></td>
            </tr><tr>
              <th class="text-nowrap"><%= Customer.human_attribute_name(:birthday) %></th>
              <td><%= @customer.birthday.to_s %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card-footer clearfix">
        <a href="<%= edit_customer_path(@customer, company_code: @company.code ) %>" class="btn btn-sm btn-info float-left mr-2">　編集　</a>
        <% if @customer.line? %>
          <%= link_to 'LINE通知', new_line_message_customer_path(@customer, company_code: @company.code), class: 'btn btn-sm btn-success float-left' %>
        <% end %>
        <a href="<%= customers_path(company_code: @company.code) %>" class="btn btn-sm btn-default float-right">　戻る　</a>
      </div>
    </div>
  </section>
</div>
