<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark"><%= t('common.customer_show') %></h1>
      </div>

      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="<%= homes_path %>">ホーム</a></li>
          <li class="breadcrumb-item"><a href="<%= customers_path %>"><%= t('common.customer_index') %></a></li>
          <li class="breadcrumb-item active"><%= t('common.customer_show') %></li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><%= t('common.info') %></h3>
        </div>

        <div class="card-body">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th class="text-nowrap" style="width: 10px"><%= Customer.human_attribute_name(:id) %></th>
                <td><%= @customer.id %></td>
              </tr>

              <% if @company.is_input_customer_name? %>
                <tr>
                  <th class="text-nowrap"><%= Customer.human_attribute_name(:name) %></th>
                  <td><%= @customer.name.to_s %></td>
                </tr>
              <% end %>

              <% if @company.is_input_customer_name_kana? %>
                <tr>
                  <th class="text-nowrap"><%= Customer.human_attribute_name(:name_kana) %></th>
                  <td><%= @customer.name_kana.to_s %></td>
                </tr>
              <% end %>

              <% if @company.is_input_customer_gender? %>
                <tr>
                  <th class="text-nowrap"><%= Customer.human_attribute_name(:gender) %></th>
                  <td><%= Customer.human_attribute_name("gender.#{ @customer.gender }") %></td>
                </tr>
              <% end %>

              <% if @company.is_input_customer_tel_number? %>
                <tr>
                  <th class="text-nowrap"><%= Customer.human_attribute_name(:tel_number) %></th>
                  <td><%= @customer.formatted_tel_number.to_s %></td>
                </tr>
              <% end %>

              <% if @company.is_input_customer_birthday? %>
                <tr>
                  <th class="text-nowrap"><%= Customer.human_attribute_name(:birthday) %></th>
                  <td><%= @customer.birthday.strftime("%Y年%m月%d日") if @customer.birthday %></td>
                </tr>
              <% end %>

              <% if @company.is_input_customer_address? %>
                <tr>
                  <th class="text-nowrap"><%= Customer.human_attribute_name(:postal_code) %></th>
                  <td><%= @customer.formatted_postal_code %></td>
                </tr><tr>
                  <th class="text-nowrap"><%= Customer.human_attribute_name(:prefecture) %></th>
                  <td><%= @customer.prefecture %></td>
                </tr><tr>
                  <th class="text-nowrap"><%= Customer.human_attribute_name(:city) %></th>
                  <td><%= @customer.city %></td>
                </tr><tr>
                  <th class="text-nowrap"><%= Customer.human_attribute_name(:address1) %></th>
                  <td><%= @customer.address1 %></td>
                </tr><tr>
                  <th class="text-nowrap"><%= Customer.human_attribute_name(:address2) %></th>
                  <td><%= @customer.address2 %></td>
                </tr>
              <% end %>

              <tr>
                <th class="text-nowrap"><%= Customer.human_attribute_name(:introducer) %></th>
                <td><%= link_to @customer.introducer.name.to_s, customer_path(@company.code, @customer.introducer), { class: 'text-info' } if @customer.introducer %>&nbsp;<a href="javascript:void(0)" id="change_introducer_button", class="btn btn-default float-right"><i class="fas fa-user-edit text-primary foloat-right"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="card-footer clearfix">
          <a href="<%= edit_customer_path(@customer, company_code: @company.code ) %>" class="btn btn-info float-left mr-2">　編集　</a>
          <% if @customer.line? %>
            <%= link_to 'LINE通知', new_line_message_customer_path(@company.code, @customer), class: 'btn btn-success float-left' %>
          <% end %>
          <a href="<%= customers_path(company_code: @company.code) %>" class="btn btn-default float-right"><%= t('common.return_link') %></a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><%= VisitedLog.model_name.human %><%= "（#{ @visited_logs.total_count } 回）" %></h3>
        </div>

        <div class="card-body">
          <% @visited_logs.each do |vl| %>
            <p><a href="<%= edit_customer_visited_log_path(company_code: @company.code, customer_id: @customer.id, id: vl.id) %>" ><%= vl.visited_day %></a></p>
          <% end %>
        </div>

        <div class="card-footer clearfix">
          <%= paginate @visited_logs %>
          <a href="<%= new_customer_visited_log_path(company_code: @company.code, customer_id: @customer.id) %>" class="btn btn-sm btn-primary float-right mt-1"><%= t('common.history_create') %></a>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><%= Customer.human_attribute_name(:invited_people) %><%= "（#{ @customer.invited_people.size() } 人）" %></h3>
        </div>

        <div class="card-body">
          <% @customer.invited_people.each { |customer| %>
            <p><%= link_to customer.name.to_s, customer_path(@company.code, customer), { class: 'text-info' } %></p>
          <% } if @customer.invited_people.present? %>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="notice_modal" data-izimodal-title="<%= t('common.introducer_changing') %>" data-izimodal-subtitle="紹介者：<%= @customer.try(:name) || t('common.nothing') %>">
  <p>
    <div class="col p-3">
      <%= form_with(id: 'modal_form', url: xhr_get_customers_customers_path, method: :get) do |form| %>
        <%= form.text_field :name, { id: 'modal_form_name_input',class: "form-control", placeholder: t('common.name') } %>
      <% end %>
      <p id="customer_list"></p>
      <%= form_with(id: 'modal_form_introducer_update', url: update_introducer_customer_path(@company.code, @customer.id), method: :post, local: true) do |form| %>
        <%= form.hidden_field :introducer_id, id: :modal_introducer_id_hidden %>
      <% end %>
    </div>
  </p>
</div>

<%= javascript_tag do %>
  $(function() {
    $('#notice_modal').iziModal();
    $('#change_introducer_button').on('click', function() {
      $('#notice_modal').iziModal('open');
    });

    $('#modal_form_name_input').on('input', function(){
      if($(this).val().trim() != '') {
        $.rails.fire($('#modal_form')[0], 'submit');
      }
    });

    $(document).on('click', '.select_customer', function (){
      $('#modal_introducer_id_hidden').val($(this).data('customer_id'));
      if (window.confirm($(this).text() + ' さんに紹介者を変更してよろしいですか？')) {
        $('#modal_form_introducer_update').submit();
      }
    });
  });
<% end %>
