<aside class="main-sidebar sidebar-light-lightblue elevation-4" <%= "style='background-color:aqua'".html_safe if ENV['MODE'].nil? %>>

  <a href="<%= user_path(@company.code, current_user) %>" class="brand-link">
    <% if current_user.image.present? %>
      <img src="<%= current_user.base64_image(:thumb_50) %>" style="max-height: 33px;border-radius: 50%;" />
    <% else %>
      <img src="<%= asset_pack_path 'media/images/logo.png'%>" alt="Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <% end %>
    <span class="brand-text font-weight-light">
      <%= current_user.line_display_name %>
    </span>
  </a>

  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="<%= homes_path %>" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>
              <%= t('common.home') %>
            </p>
          </a>
        </li>

        <% if can?(:calendar, :home) %>
          <li class="nav-item">
            <a href="<%= calendar_homes_path %>" class="nav-link">
              <i class="nav-icon fas fa-calendar-alt"></i>
              <p>
                <%= t('common.calendar_event_list') %>
              </p>
            </a>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</aside>
