<div class="direct-chat-msg">
  <div class="direct-chat-infos clearfix">
    <span class="direct-chat-name float-left"><%= customer.name %>&nbsp;</span>
    <span class="direct-chat-timestamp float-left"><%= message.created_at.strftime("%Y/%m/%d %H:%M") %></span>
  </div>
  <% if message.try(:user).try(:image).present? %>
    <img src="<%= message.user.base64_image(:thumb_50) %>" class="direct-chat-img" />
  <% else %>
    <img src="<%= asset_pack_path 'media/images/user.png'%>" class="direct-chat-img" />
  <% end %>
  <img class="direct-chat-img" src="../dist/img/user1-128x128.jpg" alt="Message User Image">
  <div class="w-10 direct-chat-text float-left text-left" style="margin-left: 0px;">
    <% if message.message_type == Const::LineMessage::Type::TEXT %>
      <%= br message.message.to_s %>
    <% elsif message.message_type == Const::LineMessage::Type::IMAGE %>
      <img src="<%= message.base64_image(:thumb_50) %>" class="message-image" data-message_id="<%= message.id %>"/>
    <% end %>
  </div>
</div>
