<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <%= nested_form_for(item, url: url, local: true) do |f| %>
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title"><%= t('common.item_edit_announce') %><small></small></h3>
            </div>

            <div class="card-body">
              <div class="form-group">
                <% code_err = true if item.errors.include?(:code) %>
                <%= f.label :code %>
                <%= f.text_field :code, { class: "form-control #{ code_err ? 'is-invalid' : '' }" , placeholder: '半角英字と「_」', maxlength: 10 } %>
                <% if code_err %>
                  <span class="error invalid-feedback"><%= item.errors.full_messages_for(:code).first %></span>
                <% end %>
              </div>

              <div class="form-group">
                <% sub_code_err = true if item.errors.include?(:sub_code) %>
                <%= f.label :sub_code %>
                <%= f.select :sub_code, Const::Item::SubCode.constants.map{ |c| Const::Item::SubCode.const_get(c) }, { include_blank: t('common.placeholder_select') }, class: "form-control custom-select #{ sub_code_err ? 'is-invalid' : '' }" %>
                <% if sub_code_err %>
                  <span class="error invalid-feedback"><%= item.errors.full_messages_for(:sub_code).first %></span>
                <% end %>
              </div>

              <%= javascript_tag do %>
                $(function() {
                  $('#item_sub_code').on('input', function(){
                    let select_code = $(this).val();
                    switch (select_code){
                      case 'select_option':
                      case 'radio':
                      case 'checkbox':
                        $('#collection_item_area').removeClass('d-none');
                        break;
                      default:
                        $('#collection_item_area').addClass('d-none');
                    }
                  }).trigger('input');
                });
              <% end %>

              <div class="form-group">
                <% name_err = true if item.errors.include?(:name) %>
                <%= f.label :name %>
                <%= f.text_field :name, { class: "form-control #{ name_err ? 'is-invalid' : '' }", placeholder: t('common.item_code_name'), maxlength: 20 } %>
                <% if name_err %>
                  <span class="error invalid-feedback"><%= item.errors.full_messages_for(:name).first %></span>
                <% end %>
              </div>
            </div>

            <div class="card-footer">
              <%= f.submit class: 'btn btn-primary', data: { confirm: t('common.submit_confirm'), disable_with: t('common.submit_disable_with') } %>
              <%= link_to(t('common.delete_link'), company_item_path(@company.code, @item), method: :delete, class: 'btn btn-sm btn-danger float-right', data: { confirm: t('common.delete_confirm') }) if @item.persisted? %>
              <a href="<%= company_items_path %>" class="btn btn-default float-right mr-2"><%= t('common.return_link') %></a>
            </div>
          </div>

          <%= render 'collection_items_form', f: f %>
        <% end %>
      </div>

      <div class="col-md-6">
      </div>
    </div>
  </div>
</section>
