<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark"><%= Const::View::Name::COMPANY_ITEMS_INDEX %></h1>
      </div>

      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="<%= homes_path %>">ホーム</a></li>
          <li class="breadcrumb-item"><a href="<%= company_items_path %>"><%= Const::View::Name::COMPANY_ITEMS_INDEX %></a></li>
          <li class="breadcrumb-item active"><%= Const::View::Name::COMPANY_ITEMS_EDIT %></li>
        </ol>
      </div>
    </div>
  </div>
</div>

<%= render 'form', item: @item, url: { company_code: @company.code, action: :update } %>
