<div class="content-header">
</div>

<section class="content">
  <div class="card">
    <div class="card-header">
      <a href="<%= new_company_item_path %>" class="btn btn-primary float-right mt-1">
        <%= t('common.new_create') %>
      </a>
      <a href="<%= calendar_company_items_path %>" class="btn btn-info float-left mt-1">
        <%= t('common.calendar_item') %>
      </a>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="width: 10px" class="text-nowrap"><%= Item.human_attribute_name(:id) %></th>
            <th style="width: 10%" class="text-nowrap"><%= Item.human_attribute_name(:code) %></th>
            <th style="width: 10%" class="text-nowrap"><%= Item.human_attribute_name(:sub_code) %></th>
            <th><%= Item.human_attribute_name(:name) %></th>
          </tr>
        </thead>
        <tbody>
          <% @items.each_with_index do |item, i| %>
            <tr>
              <td><a href="<%= company_item_path(@company.code ,item) %>"><%= item.id.to_s %>.</a></td>
              <td><%= item.code.to_s %></td>
              <td><%= item.sub_code.to_s %></td>
              <td><%= item.name.to_s %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
