<div class="content-header">
</div>

<section class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">情報</h3>
    </div>

    <div class="card-body">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th class="text-nowrap"><%= Item.human_attribute_name(:code) %></th>
            <td><%= @item.code.to_s %></td>
          </tr>
          <tr>
            <th class="text-nowrap"><%= Item.human_attribute_name(:sub_code) %></th>
            <td><%= @item.sub_code.to_s %></td>
          </tr>
          <tr>
            <th class="text-nowrap"><%= Item.human_attribute_name(:name) %></th>
            <td><%= @item.name.to_s %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="card-footer clearfix">
      <% if can? :manage, :setting %>
        <a href="<%= edit_company_item_path(@company.code, @item) %>" class="btn btn-info float-left mr-2">　編集　</a>
      <% end %>
      <a href="<%= company_items_path %>" class="btn btn-default float-right">　戻る　</a>
    </div>
  </div>
</section>
