<div class="content-header">
</div>

<section class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title"><%= t('common.info') %></h3>
    </div>

    <div class="card-body">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th class="text-nowrap"><%= Item.human_attribute_name(:code) %></th>
            <td><%= @item.code.to_s %></td>
          </tr>
          <tr>
            <th class="text-nowrap"><%= Item.human_attribute_name(:sub_code) %></th>
            <td><%= @item.sub_code.to_s %></td>
          </tr>
          <tr>
            <th class="text-nowrap"><%= Item.human_attribute_name(:name) %></th>
            <td><%= @item.name.to_s %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="card-footer clearfix">
      <% if can? :manage, :setting %>
        <a href="<%= edit_company_item_path(@company.code, @item) %>" class="btn btn-info float-left mr-2"><%= t('common.edit_link') %></a>
      <% end %>
      <a href="<%= company_items_path %>" class="btn btn-default float-right"><%= t('common.return_link') %></a>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title"><%= t('common.collection_item') %></h3>
    </div>

    <div class="card-body">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th class="text-nowrap"><%= CollectionItem.human_attribute_name(:key) %></th>
            <th class="text-nowrap"><%= CollectionItem.human_attribute_name(:value) %></th>
            <th class="text-nowrap"><%= CollectionItem.human_attribute_name(:sort_order) %></th>
            <th class="text-nowrap"><%= CollectionItem.human_attribute_name(:enabled) %></th>
          </tr>
          <% @item.collection_items.each do |ci| %>
            <tr>
              <td><%= ci.key %></td>
              <td><%= ci.value %></td>
              <td><%= ci.sort_order %></td>
              <td><%= ci.enabled? ? t('common.enabled') : t('common.disabled') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
