<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">
          <%= t('common.sms_notify') %>
        </h1>
      </div>

      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="<%= homes_path %>">ホーム</a></li>
          <li class="breadcrumb-item active"><%= t('common.sms_notify') %></li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="card">
    <div class="card-header">
      <%= paginate @sms_logs %>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>日時</th>
              <th>顧客</th>
              <th>メッセージ</th>
              <th>スタッフ</th>
            </tr>
          </thead>

          <tbody>
            <% @sms_logs.each do |sms_log| %>
              <tr>
                <td><%= sms_log.created_at.strftime("%y-%m-%d %H:%M") %></td>
                <td><%= sms_log.customer.try(:name).to_s %></td>
                <td><%= sms_log.message.to_s %></td>
                <td><%= sms_log.staff.try(:id).to_s %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card-footer">
      <%= paginate @sms_logs %>
    </div>
  </div>
</section>


