<aside class="main-sidebar sidebar-light-lightblue elevation-4" <%= "style='background-color:pink'".html_safe if ENV['MODE'].nil? %>>

  <a href="<%= company_setting_path(@company.code) %>" class="brand-link">
    <img src="<%= asset_pack_path 'media/images/logo.png'%>" alt="COSMOS Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">
      <%= @company.name %>
    </span>
  </a>

  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="<%= homes_path %>" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>
              <%= t('common.home') %>
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="<%= can?(:manage, :setting) ? customers_path(params[:company_code]) : '#' %>" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              <%= t('common.customer_index') %>
            </p>
          </a>
        </li>

        <% if @company.try(:is_calendar_feature?) && can?(:read, :calendar) %>
          <li class="nav-item">
            <a href="<%= can?(:manage, :setting) ? company_calendars_path : '#' %>" class="nav-link">
              <i class="nav-icon fas fa-calendar-plus"></i>
              <p>
                <%= t('common.calendar_regist') %>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="<%= can?(:read, :calendar) ? calendar_homes_path : '#' %>" class="nav-link">
              <i class="nav-icon fas fa-calendar-alt"></i>
              <p>
                <%= t('common.calendar_event_list') %>
              </p>
            </a>
          </li>
        <% end %>

        <% if can?(:manage, :item) %>
          <li class="nav-item">
            <a href="<%= can?(:manage, :item) ? company_items_path : '#' %>" class="nav-link">
              <i class="nav-icon fas fa-list"></i>
              <p>
                <%= t('common.item') %>
              </p>
            </a>
          </li>
        <% end %>

        <% if can?(:manage, :staff) %>
          <li class="nav-item d-none d-sm-inline-block">
            <a href="<%= can?(:manage, :item) ? company_staffs_path : '#' %>" class="nav-link">
              <i class="nav-icon fas fa-user-friends"></i>
              <p>
                <%= t('common.staff') %>
              </p>
            </a>
          </li>
        <% end %>

        <% if @company.is_chat_feature? %>
          <li class="nav-item">
            <a href="<%= chat_logs_path %>" class="nav-link">
              <i class="nav-icon fas fa-comments"></i>
              <p>
                <%= t('common.chat') %>
              </p>
            </a>
          </li>
        <% end %>

        <% if @company.try(:is_sms_feature?) && can?(:read, :sms) %>
          <li class="nav-item">
            <a href="<%= sms_logs_path %>" class="nav-link">
              <i class="nav-icon fas fa-comment"></i>
              <p>
                <%= t('common.sms_logs') %>
              </p>
            </a>
          </li>
        <% end %>

      </ul>
    </nav>
  </div>
</aside>
