<aside class="main-sidebar sidebar-light-lightblue elevation-4">

  <a href="/" class="brand-link">
    <img src="<%= image_path 'logo.png'%>" alt="COSMOS Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">COSMOS</span>
  </a>

  <div class="sidebar">

    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="<%= image_path 'user-icon.png'%>" class="img-circle elevation-2" alt="<%= current_user.try(:email) %>">
      </div>
      <div class="info">
        <a href="#" class="d-block"><%= current_user.try(:email) %></a>
      </div>
    </div>

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item">
          <a href="<%= customers_path(params[:company_code]) %>" class="nav-link <%= activate_css(Const::Controller::CUSTOMER) %>">
            <i class="nav-icon fas fa-users"></i>
            <p>
              顧客
            </p>
          </a>
        </li>

      </ul>
    </nav>

  </div>

</aside>
